[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:elianortega/nvim.git
[submodule ".dotfiles-personal"]
	path = .dotfiles-personal
	url = git@github.com:elianortega/.dotfiles-personal.git
